下载 CBDB Sqlite 数据库保存到 'Introduction-to-Digital-Humanities/SNA/data' 目录下 
下载链接：https://projects.iq.harvard.edu/cbdb/download-cbdb-standalone-database
中国人物传记数据库是一个可免费访问的关系数据库，其中包含截至 2024 年 8 月的约 641,568 人的传记信息，目前主要涵盖 7 世纪至 19 世纪的人物。该数据库有在线和离线版本，可用于统计、社交网络和空间分析，也可用作传记参考。

In [6]:
import sqlite3

# 连接到 SQLite 数据库文件
db_path = "/Volumes/My Passport/GitHub/Introduction-to-Digital-Humanities/SNA/data/CBDB.db"  # 数据库文件的路径
conn = sqlite3.connect(db_path)  # 创建与数据库的连接

# 创建一个 cursor 对象，用于执行 SQL 查询
cursor = conn.cursor()

# 查询数据库中的所有表
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()  # 获取表的名称

# 遍历每个表，输出该表的列和数据类型
for table in tables:
    table_name = table[0]  # 表名
    print(f"\nTable: {table_name}")
    
    # 使用 PRAGMA 语句获取表的列信息
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()  # 获取列的信息
    
    # 输出每个列的名称和数据类型
    for column in columns:
        print(f"Column: {column[1]}, Data Type: {column[2]}")

# 关闭数据库连接
conn.close()

Table: ADDR_BELONGS_DATA
Column: c_addr_id, Data Type: INTEGER
Column: c_belongs_to, Data Type: INTEGER
Column: c_firstyear, Data Type: INTEGER
Column: c_lastyear, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_secondary_source_author, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR(255)

Table: ADDR_CODES
Column: c_addr_id, Data Type: INTEGER
Column: c_name, Data Type: CHAR(255)
Column: c_name_chn, Data Type: CHAR(255)
Column: c_firstyear, Data Type: INTEGER
Column: c_lastyear, Data Type: INTEGER
Column: c_admin_type, Data Type: CHAR(255)
Column: x_coord, Data Type: FLOAT
Column: y_coord, Data Type: FLOAT
Column: CHGIS_PT_ID, Data Type: INTEGER
Column: c_notes, Data Type: CHAR
Column: c_alt_names, Data Type: CHAR(255)

Table: ADDR_PLACE_DATA
Column: c_addr_id, Data Type: INTEGER
Column: c_place_id, Data Type: INTEGER
Column: c_firstyear, Data Type: INTEGER
Column: c_lastyear, Data Type: INTEGER

Table: ADDR_XY
Column: c_addr_id, Data Type: INTEGER
Column: x_coord, Data Type: FLOAT
Column: y_coord, Data Type: FLOAT
Column: c_source_reference, Data Type: CHAR(255)
Column: c_source_id, Data Type: INTEGER
Column: c_notes, Data Type: CHAR

Table: ADDRESSES
Column: c_addr_id, Data Type: INTEGER
Column: c_addr_cbd, Data Type: CHAR(255)
Column: c_name, Data Type: CHAR(255)
Column: c_name_chn, Data Type: CHAR(255)
Column: c_admin_type, Data Type: CHAR(255)
Column: c_firstyear, Data Type: INTEGER
Column: c_lastyear, Data Type: INTEGER
Column: x_coord, Data Type: FLOAT
Column: y_coord, Data Type: FLOAT
Column: belongs1_ID, Data Type: INTEGER
Column: belongs1_Name, Data Type: CHAR(255)
Column: belongs2_ID, Data Type: INTEGER
Column: belongs2_Name, Data Type: CHAR(255)
Column: belongs3_ID, Data Type: INTEGER
Column: belongs3_Name, Data Type: CHAR(255)
Column: belongs4_ID, Data Type: INTEGER
Column: belongs4_Name, Data Type: CHAR(255)
Column: belongs5_ID, Data Type: INTEGER
Column: belongs5_Name, Data Type: CHAR(255)

Table: ALTNAME_CODES
Column: c_name_type_code, Data Type: INTEGER
Column: c_name_type_desc, Data Type: CHAR(255)
Column: c_name_type_desc_chn, Data Type: CHAR(255)

Table: ALTNAME_DATA
Column: c_personid, Data Type: INTEGER
Column: c_alt_name, Data Type: CHAR(255)
Column: c_alt_name_chn, Data Type: CHAR(255)
Column: c_alt_name_type_code, Data Type: INTEGER
Column: c_sequence, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: APPOINTMENT_TYPE_CODES
Column: c_appt_type_code, Data Type: INTEGER
Column: c_appt_type_desc_chn, Data Type: CHAR(255)
Column: c_appt_type_desc, Data Type: CHAR(255)
Column: c_appt_type_desc_chn_alt, Data Type: CHAR(255)
Column: c_appt_type_desc_alt, Data Type: CHAR(255)
Column: check, Data Type: INTEGER
Column: c_notes, Data Type: CHAR(255)

Table: ASSOC_CODE_TYPE_REL
Column: c_assoc_code, Data Type: INTEGER
Column: c_assoc_type_id, Data Type: CHAR(255)

Table: ASSOC_CODES
Column: c_assoc_code, Data Type: INTEGER
Column: c_assoc_pair, Data Type: INTEGER
Column: c_assoc_pair2, Data Type: INTEGER
Column: c_assoc_desc, Data Type: CHAR(255)
Column: c_assoc_desc_chn, Data Type: CHAR(255)
Column: c_assoc_role_type, Data Type: CHAR(2)
Column: c_sortorder, Data Type: INTEGER
Column: c_example, Data Type: CHAR(255)

Table: ASSOC_DATA
Column: c_assoc_code, Data Type: INTEGER
Column: c_personid, Data Type: INTEGER
Column: c_kin_code, Data Type: INTEGER
Column: c_kin_id, Data Type: INTEGER
Column: c_assoc_id, Data Type: INTEGER
Column: c_assoc_kin_code, Data Type: INTEGER
Column: c_assoc_kin_id, Data Type: INTEGER
Column: c_tertiary_personid, Data Type: INTEGER
Column: c_tertiary_type_notes, Data Type: CHAR(255)
Column: c_assoc_count, Data Type: INTEGER
Column: c_sequence, Data Type: INTEGER
Column: c_assoc_year, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_assoc_nh_code, Data Type: INTEGER
Column: c_assoc_nh_year, Data Type: INTEGER
Column: c_assoc_range, Data Type: INTEGER
Column: c_addr_id, Data Type: INTEGER
Column: c_litgenre_code, Data Type: INTEGER
Column: c_occasion_code, Data Type: INTEGER
Column: c_topic_code, Data Type: INTEGER
Column: c_inst_code, Data Type: INTEGER
Column: c_inst_name_code, Data Type: INTEGER
Column: c_text_title, Data Type: CHAR(255)
Column: c_assoc_claimer_id, Data Type: INTEGER
Column: c_assoc_intercalary, Data Type: BOOLEAN(2)
Column: c_assoc_month, Data Type: INTEGER
Column: c_assoc_day, Data Type: INTEGER
Column: c_assoc_day_gz, Data Type: INTEGER
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: ASSOC_TYPES
Column: c_assoc_type_id, Data Type: CHAR(255)
Column: c_assoc_type_desc, Data Type: CHAR(255)
Column: c_assoc_type_desc_chn, Data Type: CHAR(255)
Column: c_assoc_type_parent_id, Data Type: CHAR(255)
Column: c_assoc_type_level, Data Type: INTEGER
Column: c_assoc_type_sortorder, Data Type: INTEGER
Column: c_assoc_type_short_desc, Data Type: CHAR(50)

Table: ASSUME_OFFICE_CODES
Column: c_assume_office_code, Data Type: INTEGER
Column: c_assume_office_desc_chn, Data Type: CHAR(50)
Column: c_assume_office_desc, Data Type: CHAR(50)

Table: BIOG_ADDR_CODES
Column: c_addr_type, Data Type: INTEGER
Column: c_addr_desc, Data Type: CHAR(255)
Column: c_addr_desc_chn, Data Type: CHAR(255)
Column: c_addr_note, Data Type: CHAR(255)
Column: c_index_addr_rank, Data Type: INTEGER
Column: c_index_addr_default_rank, Data Type: INTEGER

Table: BIOG_ADDR_DATA
Column: c_personid, Data Type: INTEGER
Column: c_addr_id, Data Type: INTEGER
Column: c_addr_type, Data Type: INTEGER
Column: c_sequence, Data Type: INTEGER
Column: c_firstyear, Data Type: INTEGER
Column: c_lastyear, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_fy_nh_code, Data Type: INTEGER
Column: c_ly_nh_code, Data Type: INTEGER
Column: c_fy_nh_year, Data Type: INTEGER
Column: c_ly_nh_year, Data Type: INTEGER
Column: c_fy_range, Data Type: INTEGER
Column: c_ly_range, Data Type: INTEGER
Column: c_natal, Data Type: INTEGER
Column: c_fy_intercalary, Data Type: BOOLEAN(2)
Column: c_ly_intercalary, Data Type: BOOLEAN(2)
Column: c_fy_month, Data Type: INTEGER
Column: c_ly_month, Data Type: INTEGER
Column: c_fy_day, Data Type: INTEGER
Column: c_ly_day, Data Type: INTEGER
Column: c_fy_day_gz, Data Type: INTEGER
Column: c_ly_day_gz, Data Type: INTEGER
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)
Column: c_delete, Data Type: INTEGER

Table: BIOG_INST_CODES
Column: c_bi_role_code, Data Type: INTEGER
Column: c_bi_role_desc, Data Type: CHAR(255)
Column: c_bi_role_chn, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR(255)

Table: BIOG_INST_DATA
Column: c_personid, Data Type: INTEGER
Column: c_inst_name_code, Data Type: INTEGER
Column: c_inst_code, Data Type: INTEGER
Column: c_bi_role_code, Data Type: INTEGER
Column: c_bi_begin_year, Data Type: INTEGER
Column: c_bi_by_nh_code, Data Type: INTEGER
Column: c_bi_by_nh_year, Data Type: INTEGER
Column: c_bi_by_range, Data Type: INTEGER
Column: c_bi_end_year, Data Type: INTEGER
Column: c_bi_ey_nh_code, Data Type: INTEGER
Column: c_bi_ey_nh_year, Data Type: INTEGER
Column: c_bi_ey_range, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)
Column: tts_sysno, Data Type: INTEGER

Table: BIOG_MAIN
Column: c_personid, Data Type: INTEGER
Column: c_name, Data Type: CHAR(255)
Column: c_name_chn, Data Type: CHAR(255)
Column: c_index_year, Data Type: INTEGER
Column: c_index_year_type_code, Data Type: CHAR(16)
Column: c_index_year_source_id, Data Type: INTEGER
Column: c_female, Data Type: BOOLEAN(2)
Column: c_index_addr_id, Data Type: INTEGER
Column: c_index_addr_type_code, Data Type: INTEGER
Column: c_ethnicity_code, Data Type: INTEGER
Column: c_household_status_code, Data Type: INTEGER
Column: c_tribe, Data Type: CHAR(255)
Column: c_birthyear, Data Type: INTEGER
Column: c_by_nh_code, Data Type: INTEGER
Column: c_by_nh_year, Data Type: INTEGER
Column: c_by_range, Data Type: INTEGER
Column: c_deathyear, Data Type: INTEGER
Column: c_dy_nh_code, Data Type: INTEGER
Column: c_dy_nh_year, Data Type: INTEGER
Column: c_dy_range, Data Type: INTEGER
Column: c_death_age, Data Type: INTEGER
Column: c_death_age_range, Data Type: INTEGER
Column: c_fl_earliest_year, Data Type: INTEGER
Column: c_fl_ey_nh_code, Data Type: INTEGER
Column: c_fl_ey_nh_year, Data Type: INTEGER
Column: c_fl_ey_notes, Data Type: CHAR
Column: c_fl_latest_year, Data Type: INTEGER
Column: c_fl_ly_nh_code, Data Type: INTEGER
Column: c_fl_ly_nh_year, Data Type: INTEGER
Column: c_fl_ly_notes, Data Type: CHAR
Column: c_surname, Data Type: CHAR(255)
Column: c_surname_chn, Data Type: CHAR(255)
Column: c_mingzi, Data Type: CHAR(255)
Column: c_mingzi_chn, Data Type: CHAR(255)
Column: c_dy, Data Type: INTEGER
Column: c_choronym_code, Data Type: INTEGER
Column: c_notes, Data Type: CHAR
Column: c_by_intercalary, Data Type: BOOLEAN(2)
Column: c_dy_intercalary, Data Type: BOOLEAN(2)
Column: c_by_month, Data Type: INTEGER
Column: c_dy_month, Data Type: INTEGER
Column: c_by_day, Data Type: INTEGER
Column: c_dy_day, Data Type: INTEGER
Column: c_by_day_gz, Data Type: INTEGER
Column: c_dy_day_gz, Data Type: INTEGER
Column: c_surname_proper, Data Type: CHAR(255)
Column: c_mingzi_proper, Data Type: CHAR(255)
Column: c_name_proper, Data Type: CHAR(255)
Column: c_surname_rm, Data Type: CHAR(255)
Column: c_mingzi_rm, Data Type: CHAR(255)
Column: c_name_rm, Data Type: CHAR(255)
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)
Column: c_self_bio, Data Type: BOOLEAN(2)

Table: BIOG_SOURCE_DATA
Column: c_personid, Data Type: INTEGER
Column: c_textid, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_main_source, Data Type: BOOLEAN(2)
Column: c_self_bio, Data Type: BOOLEAN(2)

Table: BIOG_TEXT_DATA
Column: c_textid, Data Type: INTEGER
Column: c_personid, Data Type: INTEGER
Column: c_role_id, Data Type: INTEGER
Column: c_year, Data Type: INTEGER
Column: c_nh_code, Data Type: INTEGER
Column: c_nh_year, Data Type: INTEGER
Column: c_range_code, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: CBDB_NAME_LIST
Column: c_personid, Data Type: INTEGER
Column: name, Data Type: CHAR(255)
Column: source, Data Type: CHAR(255)

Table: CHORONYM_CODES
Column: c_choronym_code, Data Type: INTEGER
Column: c_choronym_desc, Data Type: CHAR(255)
Column: c_choronym_chn, Data Type: CHAR(255)

Table: CopyMissingTables
Column: ID, Data Type: INTEGER
Column: TableName, Data Type: CHAR(255)

Table: CopyTables
Column: TableName, Data Type: CHAR(255)
Column: NotProcessed, Data Type: BOOLEAN(2)

Table: CopyTablesDefault
Column: ID, Data Type: INTEGER
Column: TableName, Data Type: CHAR(255)

Table: COUNTRY_CODES
Column: c_country_code, Data Type: INTEGER
Column: c_country_desc, Data Type: CHAR(50)
Column: c_country_desc_chn, Data Type: CHAR(50)

Table: DYNASTIES
Column: c_dy, Data Type: INTEGER
Column: c_dynasty, Data Type: CHAR(255)
Column: c_dynasty_chn, Data Type: CHAR(255)
Column: c_start, Data Type: INTEGER
Column: c_end, Data Type: INTEGER
Column: c_sort, Data Type: INTEGER

Table: ENTRY_CODE_TYPE_REL
Column: c_entry_code, Data Type: INTEGER
Column: c_entry_type, Data Type: CHAR(255)

Table: ENTRY_CODES
Column: c_entry_code, Data Type: INTEGER
Column: c_entry_desc, Data Type: CHAR(255)
Column: c_entry_desc_chn, Data Type: CHAR(255)

Table: ENTRY_DATA
Column: c_personid, Data Type: INTEGER
Column: c_entry_code, Data Type: INTEGER
Column: c_sequence, Data Type: INTEGER
Column: c_exam_rank, Data Type: CHAR(255)
Column: c_kin_code, Data Type: INTEGER
Column: c_kin_id, Data Type: INTEGER
Column: c_assoc_code, Data Type: INTEGER
Column: c_assoc_id, Data Type: INTEGER
Column: c_year, Data Type: INTEGER
Column: c_age, Data Type: INTEGER
Column: c_nianhao_id, Data Type: INTEGER
Column: c_entry_nh_year, Data Type: INTEGER
Column: c_entry_range, Data Type: INTEGER
Column: c_inst_code, Data Type: INTEGER
Column: c_inst_name_code, Data Type: INTEGER
Column: c_exam_field, Data Type: CHAR(255)
Column: c_entry_addr_id, Data Type: INTEGER
Column: c_parental_status, Data Type: INTEGER
Column: c_attempt_count, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_posting_notes, Data Type: CHAR(255)
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: ENTRY_TYPES
Column: c_entry_type, Data Type: CHAR(255)
Column: c_entry_type_desc, Data Type: CHAR(255)
Column: c_entry_type_desc_chn, Data Type: CHAR(255)
Column: c_entry_type_parent_id, Data Type: CHAR(255)
Column: c_entry_type_level, Data Type: FLOAT
Column: c_entry_type_sortorder, Data Type: FLOAT

Table: ETHNICITY_TRIBE_CODES
Column: c_ethnicity_code, Data Type: INTEGER
Column: c_group_code, Data Type: INTEGER
Column: c_subgroup_code, Data Type: INTEGER
Column: c_altname_code, Data Type: INTEGER
Column: c_name_chn, Data Type: CHAR(255)
Column: c_name, Data Type: CHAR(255)
Column: c_ethno_legal_cat, Data Type: CHAR(255)
Column: c_romanized, Data Type: CHAR(255)
Column: c_surname, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: JiuTangShu, Data Type: CHAR(255)
Column: XinTangShu, Data Type: CHAR(255)
Column: JiuWudaiShi, Data Type: CHAR(255)
Column: XinWudaiShi, Data Type: CHAR(255)
Column: SongShi, Data Type: CHAR(255)
Column: LiaoShi, Data Type: CHAR(255)
Column: JinShi, Data Type: CHAR(255)
Column: YuanShi, Data Type: CHAR(255)
Column: MingShi, Data Type: CHAR(255)
Column: QingShiGao, Data Type: CHAR(255)
Column: c_sortorder, Data Type: INTEGER

Table: EVENT_CODES
Column: c_event_code, Data Type: INTEGER
Column: c_event_name_chn, Data Type: CHAR(50)
Column: c_event_name, Data Type: CHAR(50)
Column: c_fy_yr, Data Type: INTEGER
Column: c_ly_yr, Data Type: INTEGER
Column: c_fy_nh_code, Data Type: INTEGER
Column: c_ly_nh_code, Data Type: INTEGER
Column: c_fy_nh_yr, Data Type: INTEGER
Column: c_ly_nh_yr, Data Type: INTEGER
Column: c_fy_intercalary, Data Type: BOOLEAN(2)
Column: c_fy_month, Data Type: INTEGER
Column: c_ly_intercalary, Data Type: BOOLEAN(2)
Column: c_ly_month, Data Type: INTEGER
Column: c_fy_range, Data Type: INTEGER
Column: c_ly_range, Data Type: INTEGER
Column: c_addr_id, Data Type: INTEGER
Column: c_dy, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(50)
Column: c_event_notes, Data Type: CHAR(255)

Table: EVENTS_ADDR
Column: c_event_record_id, Data Type: INTEGER
Column: c_personid, Data Type: INTEGER
Column: c_addr_id, Data Type: INTEGER
Column: c_year, Data Type: INTEGER
Column: c_nh_code, Data Type: INTEGER
Column: c_nh_year, Data Type: INTEGER
Column: c_yr_range, Data Type: INTEGER
Column: c_intercalary, Data Type: BOOLEAN(2)
Column: c_month, Data Type: INTEGER
Column: c_day, Data Type: INTEGER
Column: c_day_ganzhi, Data Type: INTEGER

Table: EVENTS_DATA
Column: c_personid, Data Type: INTEGER
Column: c_sequence, Data Type: INTEGER
Column: c_event_record_id, Data Type: INTEGER
Column: c_event_code, Data Type: INTEGER
Column: c_role, Data Type: CHAR(255)
Column: c_year, Data Type: INTEGER
Column: c_nh_code, Data Type: INTEGER
Column: c_nh_year, Data Type: INTEGER
Column: c_yr_range, Data Type: INTEGER
Column: c_intercalary, Data Type: BOOLEAN(2)
Column: c_month, Data Type: INTEGER
Column: c_day, Data Type: INTEGER
Column: c_day_ganzhi, Data Type: INTEGER
Column: c_addr_id, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_event, Data Type: CHAR
Column: c_notes, Data Type: CHAR(255)
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: EXTANT_CODES
Column: c_extant_code, Data Type: INTEGER
Column: c_extant_desc, Data Type: CHAR(50)
Column: c_extant_desc_chn, Data Type: CHAR(50)
Column: c_extant_code_hd, Data Type: CHAR(50)

Table: ForeignKeys
Column: AccessTblNm, Data Type: CHAR(255)
Column: AccessFldNm, Data Type: CHAR(255)
Column: ForeignKey, Data Type: CHAR(255)
Column: ForeignKeyBaseField, Data Type: CHAR(255)
Column: FKString, Data Type: CHAR(255)
Column: FKName, Data Type: CHAR(255)
Column: skip, Data Type: INTEGER
Column: IndexOnField, Data Type: CHAR(255)
Column: DataFormat, Data Type: CHAR(255)
Column: NULL_allowed, Data Type: BOOLEAN(2)

Table: FormLabels
Column: c_form, Data Type: CHAR(50)
Column: c_label_id, Data Type: INTEGER
Column: c_english, Data Type: CHAR(255)
Column: c_jianti, Data Type: CHAR(90)
Column: c_fanti, Data Type: CHAR(90)

Table: GANZHI_CODES
Column: c_ganzhi_code, Data Type: INTEGER
Column: c_ganzhi_chn, Data Type: CHAR(50)
Column: c_ganzhi_py, Data Type: CHAR(50)

Table: HOUSEHOLD_STATUS_CODES
Column: c_household_status_code, Data Type: INTEGER
Column: c_household_status_desc, Data Type: CHAR(255)
Column: c_household_status_desc_chn, Data Type: CHAR(255)

Table: INDEXYEAR_TYPE_CODES
Column: c_index_year_type_code, Data Type: CHAR(10)
Column: c_index_year_type_desc, Data Type: CHAR(255)
Column: c_index_year_type_hz, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR(255)

Table: KIN_DATA
Column: c_personid, Data Type: INTEGER
Column: c_kin_id, Data Type: INTEGER
Column: c_kin_code, Data Type: INTEGER
Column: c_source, Data Type: INTEGER
Column: c_pages, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR
Column: c_autogen_notes, Data Type: CHAR
Column: c_created_by, Data Type: CHAR(255)
Column: c_created_date, Data Type: CHAR(255)
Column: c_modified_by, Data Type: CHAR(255)
Column: c_modified_date, Data Type: CHAR(255)

Table: KIN_Mourning
Column: c_kinrel, Data Type: CHAR(255)
Column: c_kinrel_alt, Data Type: CHAR(255)
Column: c_kinrel_chn, Data Type: CHAR(255)
Column: c_mourning, Data Type: CHAR(255)
Column: c_mourning_chn, Data Type: CHAR(255)
Column: c_kindist, Data Type: CHAR(255)
Column: c_kintype, Data Type: CHAR(255)
Column: c_kintype_desc, Data Type: CHAR(255)
Column: c_kintype_desc_chn, Data Type: CHAR(255)
Column: c_notes, Data Type: CHAR(255)

Table: KIN_MOURNING_STEPS
Column: c_kinrel, Data Type: CHAR(255)
Column: c_upstep, Data Type: INTEGER
Column: c_dwnstep, Data Type: INTEGER
Column: c_marstep, Data Type: INTEGER
Column: c_colstep, Data Type: INTEGER

Table: KINSHIP_CODES
Column: c_kincode, Data Type: INTEGER
Column: c_kin_pair1, Data Type: INTEGER
Column: c_kin_pair2, Data Type: INTEGER
Column: c_kin_pair_notes, Data Type: CHAR(50)
Column: c_kinrel_chn, Data Type: CHAR(255)
Column: c_kinrel, Data Type: CHAR(255)
Column: c_kinrel_alt, Data Type: CHAR(255)
Column: c_pick_sorting, Data Type: INTEGER
Column: c_upstep, Data Type: INTEGER
Column: c_dwnstep, Data Type: INTEGER
Column: c_marstep, Data Type: INTEGER

In [12]:
import sqlite3

# 连接到源数据库文件
source_db_path = "/Volumes/My Passport/GitHub/Introduction-to-Digital-Humanities/SNA/data/CBDB.db"  # 源数据库文件的路径
conn_source = sqlite3.connect(source_db_path)  # 创建与源数据库的连接
cursor_source = conn_source.cursor()

# 创建或连接到目标数据库文件
target_db_path = "CBDB_examples.db"  # 目标数据库文件的路径
conn_target = sqlite3.connect(target_db_path)  # 创建与目标数据库的连接
cursor_target = conn_target.cursor()

# 查询源数据库中的所有表
cursor_source.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor_source.fetchall()  # 获取表的名称

# 数据类型映射：根据需要修改为 SQLite 支持的类型
def map_data_type(data_type):
    data_type = data_type.upper()
    if "INT" in data_type:
        return "INTEGER"
    elif "CHAR" in data_type or "TEXT" in data_type or "CLOB" in data_type:
        return "TEXT"
    elif "BLOB" in data_type:
        return "BLOB"
    elif "REAL" in data_type or "FLOA" in data_type or "DOUB" in data_type:
        return "REAL"
    else:
        return "TEXT"  # 默认转换为 TEXT 类型

# 遍历每个表，提取前100条数据并保存到目标数据库
for table in tables:
    table_name = table[0]  # 表名
    print(f"\nProcessing table: {table_name}")
    
    # 使用 PRAGMA 语句获取表的列信息
    cursor_source.execute(f"PRAGMA table_info({table_name});")
    columns = cursor_source.fetchall()  # 获取列的信息
    
    # 创建表结构的 SQL 语句
    column_definitions = ", ".join([f"{col[1]} {map_data_type(col[2])}" for col in columns])  # 列名和数据类型
    create_table_sql = f"CREATE TABLE IF NOT EXISTS {table_name} ({column_definitions});"
    try:
        cursor_target.execute(create_table_sql)  # 在目标数据库中创建表
        conn_target.commit()
    except sqlite3.OperationalError as e:
        print(f"Error creating table {table_name}: {e}")
        continue

    # 查询前100条数据
    cursor_source.execute(f"SELECT * FROM {table_name} LIMIT 100;")
    rows = cursor_source.fetchall()  # 获取前100条数据
    
    # 准备插入数据的 SQL 语句
    placeholders = ", ".join(["?"] * len(columns))  # 占位符，用于插入数据
    insert_sql = f"INSERT INTO {table_name} VALUES ({placeholders});"
    
    # 将数据插入到目标数据库
    try:
        cursor_target.executemany(insert_sql, rows)
        conn_target.commit()  # 提交插入操作
        print(f"Inserted {len(rows)} rows into {table_name}.")
    except sqlite3.OperationalError as e:
        print(f"Error inserting data into {table_name}: {e}")

# 关闭数据库连接
conn_source.close()
conn_target.close()

print("Data extraction and insertion complete.")

Processing table: ADDR_BELONGS_DATA
Inserted 100 rows into ADDR_BELONGS_DATA.

Processing table: ADDR_CODES
Inserted 100 rows into ADDR_CODES.

Processing table: ADDR_PLACE_DATA
Inserted 100 rows into ADDR_PLACE_DATA.

Processing table: ADDR_XY
Inserted 100 rows into ADDR_XY.

Processing table: ADDRESSES
Inserted 100 rows into ADDRESSES.

Processing table: ALTNAME_CODES
Inserted 21 rows into ALTNAME_CODES.

Processing table: ALTNAME_DATA
Inserted 100 rows into ALTNAME_DATA.

Processing table: APPOINTMENT_TYPE_CODES
Error creating table APPOINTMENT_TYPE_CODES: near "INTEGER": syntax error

Processing table: ASSOC_CODE_TYPE_REL
Inserted 100 rows into ASSOC_CODE_TYPE_REL.

Processing table: ASSOC_CODES
Inserted 100 rows into ASSOC_CODES.

Processing table: ASSOC_DATA
Inserted 100 rows into ASSOC_DATA.

Processing table: ASSOC_TYPES
Inserted 45 rows into ASSOC_TYPES.

Processing table: ASSUME_OFFICE_CODES
Inserted 6 rows into ASSUME_OFFICE_CODES.

Processing table: BIOG_ADDR_CODES
Inserted 22 rows into BIOG_ADDR_CODES.

Processing table: BIOG_ADDR_DATA
Inserted 100 rows into BIOG_ADDR_DATA.

Processing table: BIOG_INST_CODES
Inserted 26 rows into BIOG_INST_CODES.

Processing table: BIOG_INST_DATA
Inserted 100 rows into BIOG_INST_DATA.

Processing table: BIOG_MAIN
Inserted 100 rows into BIOG_MAIN.

Processing table: BIOG_SOURCE_DATA
Inserted 100 rows into BIOG_SOURCE_DATA.

Processing table: BIOG_TEXT_DATA
Inserted 100 rows into BIOG_TEXT_DATA.

Processing table: CBDB_NAME_LIST
Inserted 100 rows into CBDB_NAME_LIST.

Processing table: CHORONYM_CODES
Inserted 100 rows into CHORONYM_CODES.

Processing table: CopyMissingTables
Inserted 42 rows into CopyMissingTables.

Processing table: CopyTables
Inserted 68 rows into CopyTables.

Processing table: CopyTablesDefault
Inserted 68 rows into CopyTablesDefault.

Processing table: COUNTRY_CODES
Inserted 11 rows into COUNTRY_CODES.

Processing table: DYNASTIES
Inserted 82 rows into DYNASTIES.

Processing table: ENTRY_CODE_TYPE_REL
Inserted 100 rows into ENTRY_CODE_TYPE_REL.

Processing table: ENTRY_CODES
Inserted 100 rows into ENTRY_CODES.

Processing table: ENTRY_DATA
Inserted 100 rows into ENTRY_DATA.

Processing table: ENTRY_TYPES
Inserted 32 rows into ENTRY_TYPES.

Processing table: ETHNICITY_TRIBE_CODES
Inserted 100 rows into ETHNICITY_TRIBE_CODES.

Processing table: EVENT_CODES
Inserted 100 rows into EVENT_CODES.

Processing table: EVENTS_ADDR
Inserted 5 rows into EVENTS_ADDR.

Processing table: EVENTS_DATA
Inserted 100 rows into EVENTS_DATA.

Processing table: EXTANT_CODES
Inserted 4 rows into EXTANT_CODES.

Processing table: ForeignKeys
Inserted 100 rows into ForeignKeys.

Processing table: FormLabels
Inserted 100 rows into FormLabels.

Processing table: GANZHI_CODES
Inserted 61 rows into GANZHI_CODES.

Processing table: HOUSEHOLD_STATUS_CODES
Inserted 34 rows into HOUSEHOLD_STATUS_CODES.

Processing table: INDEXYEAR_TYPE_CODES
Inserted 30 rows into INDEXYEAR_TYPE_CODES.

Processing table: KIN_DATA
Inserted 100 rows into KIN_DATA.

Processing table: KIN_Mourning
Inserted 100 rows into KIN_Mourning.

Processing table: KIN_MOURNING_STEPS
Inserted 100 rows into KIN_MOURNING_STEPS.

Processing table: KINSHIP_CODES
Inserted 100 rows into KINSHIP_CODES.

Processing table: LITERARYGENRE_CODES
Inserted 12 rows into LITERARYGENRE_CODES.

Processing table: MEASURE_CODES
Inserted 7 rows into MEASURE_CODES.

Processing table: NIAN_HAO
Inserted 100 rows into NIAN_HAO.

Processing table: OCCASION_CODES
Inserted 10 rows into OCCASION_CODES.

Processing table: OFFICE_CATEGORIES
Inserted 15 rows into OFFICE_CATEGORIES.

Processing table: OFFICE_CODE_TYPE_REL
Inserted 100 rows into OFFICE_CODE_TYPE_REL.

Processing table: OFFICE_CODES
Inserted 100 rows into OFFICE_CODES.

Processing table: OFFICE_CODES_CONVERSION
Inserted 100 rows into OFFICE_CODES_CONVERSION.

Processing table: OFFICE_TYPE_TREE
Inserted 100 rows into OFFICE_TYPE_TREE.

Processing table: OFFICE_TYPE_TREE_backup
Inserted 100 rows into OFFICE_TYPE_TREE_backup.

Processing table: PARENTAL_STATUS_CODES
Inserted 7 rows into PARENTAL_STATUS_CODES.

Processing table: PLACE_CODES
Inserted 100 rows into PLACE_CODES.

Processing table: POSSESSION_ACT_CODES
Inserted 4 rows into POSSESSION_ACT_CODES.

Processing table: POSSESSION_ADDR
Inserted 58 rows into POSSESSION_ADDR.

Processing table: POSSESSION_DATA
Inserted 56 rows into POSSESSION_DATA.

Processing table: POSTED_TO_ADDR_DATA
Inserted 100 rows into POSTED_TO_ADDR_DATA.

Processing table: POSTED_TO_OFFICE_DATA
Inserted 100 rows into POSTED_TO_OFFICE_DATA.

Processing table: POSTING_DATA
Inserted 100 rows into POSTING_DATA.

Processing table: SCHOLARLYTOPIC_CODES
Inserted 32 rows into SCHOLARLYTOPIC_CODES.

Processing table: SOCIAL_INSTITUTION_ADDR
Inserted 100 rows into SOCIAL_INSTITUTION_ADDR.

Processing table: SOCIAL_INSTITUTION_ADDR_TYPES
Inserted 2 rows into SOCIAL_INSTITUTION_ADDR_TYPES.

Processing table: SOCIAL_INSTITUTION_ALTNAME_CODES
Inserted 1 rows into SOCIAL_INSTITUTION_ALTNAME_CODES.

Processing table: SOCIAL_INSTITUTION_ALTNAME_DATA
Inserted 0 rows into SOCIAL_INSTITUTION_ALTNAME_DATA.

Processing table: SOCIAL_INSTITUTION_CODES
Inserted 100 rows into SOCIAL_INSTITUTION_CODES.

Processing table: SOCIAL_INSTITUTION_CODES_CONVERSION
Inserted 100 rows into SOCIAL_INSTITUTION_CODES_CONVERSION.

Processing table: SOCIAL_INSTITUTION_NAME_CODES
Inserted 100 rows into SOCIAL_INSTITUTION_NAME_CODES.

Processing table: SOCIAL_INSTITUTION_TYPES
Inserted 7 rows into SOCIAL_INSTITUTION_TYPES.

Processing table: STATUS_CODE_TYPE_REL
Inserted 100 rows into STATUS_CODE_TYPE_REL.

Processing table: STATUS_CODES
Inserted 100 rows into STATUS_CODES.

Processing table: STATUS_DATA
Inserted 100 rows into STATUS_DATA.

Processing table: STATUS_TYPES
Inserted 12 rows into STATUS_TYPES.

Processing table: TablesFields
Inserted 100 rows into TablesFields.

Processing table: TablesFieldsChanges
Inserted 100 rows into TablesFieldsChanges.

Processing table: TEXT_BIBLCAT_CODE_TYPE_REL
Inserted 100 rows into TEXT_BIBLCAT_CODE_TYPE_REL.

Processing table: TEXT_BIBLCAT_CODES
Inserted 100 rows into TEXT_BIBLCAT_CODES.

Processing table: TEXT_BIBLCAT_TYPES
Inserted 51 rows into TEXT_BIBLCAT_TYPES.

Processing table: TEXT_CODES
Inserted 100 rows into TEXT_CODES.

Processing table: TEXT_INSTANCE_DATA
Inserted 100 rows into TEXT_INSTANCE_DATA.

Processing table: TEXT_ROLE_CODES
Inserted 12 rows into TEXT_ROLE_CODES.

Processing table: TEXT_TYPE
Inserted 100 rows into TEXT_TYPE.

Processing table: TMP_INDEX_YEAR
Inserted 0 rows into TMP_INDEX_YEAR.

Processing table: YEAR_RANGE_CODES
Inserted 6 rows into YEAR_RANGE_CODES.
Data extraction and insertion complete.

In [19]:
import sqlite3
import pandas as pd

# 用户自定义c_assoc_code集合，例如：[22, 23]
custom_assoc_codes = [22, 23]  # 你可以根据需求修改此集合

# 连接到数据库
db_path = '/Volumes/My Passport/GitHub/Introduction-to-Digital-Humanities/SNA/data/CBDB.db'  # 替换为你的数据库路径
conn = sqlite3.connect(db_path)

# 编写SQL查询，将c_personid和c_assoc_id替换为c_name_chn，并加入c_assoc_desc_chn
query = f"""
SELECT 
    a.c_assoc_code,
    ac.c_assoc_desc_chn,
    p1.c_name_chn AS person_name,
    d1.c_dynasty_chn AS person_dynasty_chn,
    p2.c_name_chn AS assoc_name,
    d2.c_dynasty_chn AS assoc_dynasty_chn
FROM ASSOC_DATA a
JOIN BIOG_MAIN p1 ON a.c_personid = p1.c_personid
JOIN BIOG_MAIN p2 ON a.c_assoc_id = p2.c_personid
JOIN DYNASTIES d1 ON p1.c_dy = d1.c_dy
JOIN DYNASTIES d2 ON p2.c_dy = d2.c_dy
JOIN ASSOC_CODES ac ON a.c_assoc_code = ac.c_assoc_code
WHERE a.c_assoc_code IN ({', '.join(map(str, custom_assoc_codes))})
AND (d1.c_dynasty_chn = '清' OR d2.c_dynasty_chn = '清')
"""

# 使用pandas执行SQL查询并将结果加载为DataFrame
df = pd.read_sql_query(query, conn)

# 关闭数据库连接
conn.close()

# 保存结果到Excel文件
excel_file_path = 'filtered_and_joined_assoc_data.xlsx'  # 自定义文件名和路径
df.to_excel(excel_file_path, index=False)

# 显示保存文件的路径
print(f"数据已保存到 {excel_file_path}")

数据已保存到 filtered_and_joined_assoc_data.xlsx

In [2]:
import sqlite3
import pandas as pd

# 用户自定义c_assoc_code集合，例如：[22, 23]
custom_assoc_codes = [22, 23]  # 你可以根据需求修改此集合

# 连接到数据库
db_path = '/Volumes/My Passport/GitHub/Introduction-to-Digital-Humanities/SNA/data/CBDB.db'  # 替换为你的数据库路径
conn = sqlite3.connect(db_path)


# 编写SQL查询，将c_personid和c_assoc_id替换为c_name_chn，并加入c_assoc_desc_chn
query = f"""
SELECT 
    a.c_assoc_code,
    ac.c_assoc_desc_chn,
    p1.c_name_chn AS person_name,
    d1.c_dynasty_chn AS person_dynasty_chn,
    p2.c_name_chn AS assoc_name,
    d2.c_dynasty_chn AS assoc_dynasty_chn
FROM ASSOC_DATA a
JOIN BIOG_MAIN p1 ON a.c_personid = p1.c_personid
JOIN BIOG_MAIN p2 ON a.c_assoc_id = p2.c_personid
JOIN DYNASTIES d1 ON p1.c_dy = d1.c_dy
JOIN DYNASTIES d2 ON p2.c_dy = d2.c_dy
JOIN ASSOC_CODES ac ON a.c_assoc_code = ac.c_assoc_code
WHERE a.c_assoc_code IN ({', '.join(map(str, custom_assoc_codes))})
AND (d1.c_dynasty_chn = '清' OR d2.c_dynasty_chn = '清')
"""

# 使用pandas执行SQL查询并将结果加载为DataFrame
df = pd.read_sql_query(query, conn)

# 关闭数据库连接
conn.close()

# 创建节点（去重）并保存为CSV文件
nodes = pd.DataFrame({
    'Id': pd.concat([df['person_name'], df['assoc_name']]).unique(),
    'Label': pd.concat([df['person_name'], df['assoc_name']]).unique()
})
nodes.to_csv('nodes.csv', index=False)

# 创建边并保存为CSV文件
edges = pd.DataFrame({
    'Source': df['person_name'],
    'Target': df['assoc_name'],
    'Type': 'Directed',  # 可视化为无向图
    'Label': df['c_assoc_desc_chn'],  # 使用关系描述
    'Weight': 1  # 可以自定义权重
})
edges.to_csv('edges.csv', index=False)

# 显示保存文件的路径
print("节点数据已保存到 nodes.csv")
print("边数据已保存到 edges.csv")

节点数据已保存到 nodes.csv
边数据已保存到 edges.csv